/*! CSS Used from: ../css/util.css */
*,*:before,*:after{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:Arial,sans-serif;font-size:15px;color:#b9b4c5;height:100%;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:focus{outline:none;}
a:hover{text-decoration:none;}
h3{margin:0;}
.p-t-22{padding-top:22px;}
.p-t-50{padding-top:50px;}
.p-b-9{padding-bottom:9px;}
.p-b-35{padding-bottom:35px;}
.p-b-40{padding-bottom:40px;}
.p-b-120{padding-bottom:120px;}
.p-l-15{padding-left:15px;}
.p-l-35{padding-left:35px;}
.p-l-80{padding-left:80px;}
.p-r-15{padding-right:15px;}
.p-r-80{padding-right:80px;}
.m-t-10{margin-top:10px;}
.m-b-5{margin-bottom:5px;}
.m-b-10{margin-bottom:10px;}
.m-b-30{margin-bottom:30px;}
.m-l-3{margin-left:3px;}
.m-r-3{margin-right:3px;}
.m-r-30{margin-right:30px;}
.txt-center{text-align:center;}
.w-full{width:100%;}
.trans-04{-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;}
.flex-w,.flex-c-m,.flex-sb-m,.flex-col-c,.flex-col-c-m,.flex-col-c-sb{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;}
.flex-w{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
.flex-c-m{justify-content:center;-ms-align-items:center;align-items:center;}
.flex-sb-m{justify-content:space-between;-ms-align-items:center;align-items:center;}
.flex-col-c{-ms-align-items:center;align-items:center;}
.flex-col-c-m{-ms-align-items:center;align-items:center;justify-content:center;}
.flex-col-c-sb{justify-content:space-between;-ms-align-items:center;align-items:center;}
.flex-col-c,.flex-col-c-m,.flex-col-c-sb{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column;}
/*! CSS Used from: ../css/main.css */
.simpleslide100{display:block;position:fixed;z-index:0;width:100%;height:100%;top:0;left:0;}
.simpleslide100-item{display:block;position:absolute;width:100%;height:100%;top:0;left:0;}
.s1-txt1{font-family:Poppins-Regular;font-size:12px;color:#fff;line-height:1;text-transform:uppercase;}
.m1-txt1{font-family:Poppins-Regular;font-size:18px;color:#555;line-height:1.2;text-transform:uppercase;}
.l1-txt1{font-family:Poppins-Thin;font-size:72px;line-height:1.1;color:rgba(255,255,255,.5);text-transform:uppercase;letter-spacing:15px;}
.l1-txt2{font-family:Poppins-Black;font-size:120px;line-height:1;color:#fff;text-transform:uppercase;}
.size1{width:100%;min-height:100vh;}
.size2{min-width:140px;height:50px;}
.size3{width:36px;height:36px;}
.wsize1{width:195px;}
.bg-img1{background-position:center;background-repeat:no-repeat;background-size:cover;}
.where1{align-self:flex-start;}
.overlay1{position:relative;z-index:1;}
.overlay1::before{content:"";display:block;position:absolute;z-index:-1;width:100%;height:100%;top:0;left:0;background:#7579ff;background:-webkit-linear-gradient(bottom,#b224ef,#7579ff);background:-o-linear-gradient(bottom,#b224ef,#7579ff);background:-moz-linear-gradient(bottom,#b224ef,#7579ff);background:linear-gradient(bottom,#b224ef,#7579ff);opacity:.3;}
.overlay1::after{content:"";display:block;position:absolute;z-index:-1;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.4);}
.wrappic1{display:block;flex-grow:1;}
.wrappic1 img{max-width:100%;}
.how-btn1{padding:0 15px;background-color:#fff;border-radius:25px;}
.how-btn1:hover{background-color:#555;color:#fff;}
.how-social{color:#fff;font-size:18px;border:1px solid #fff;background-color:transparent;border-radius:50%;}
.how-social:hover{background-color:#fff;color:#555;}
@media (max-width:576px){
.p-lr-15-sm{padding-left:15px;padding-right:15px;}
.respon1{font-size:45px;}
}

/*! CSS Used from: http://static.syslul.de/landing/assets/css/main.css */
p,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
*,*:before,*:after{box-sizing:inherit;}
a{-moz-transition:color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;-webkit-transition:color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;transition:color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;border-bottom:dotted 1px rgba(255, 255, 255, 0.5);text-decoration:none;color:inherit;}
a:hover{border-bottom-color:transparent;}
p{margin:0 0 2rem 0;}
::-webkit-input-placeholder{color:rgba(255, 255, 255, 0.5)!important;opacity:1.0;}
:-moz-placeholder{color:rgba(255, 255, 255, 0.5)!important;opacity:1.0;}
::-moz-placeholder{color:rgba(255, 255, 255, 0.5)!important;opacity:1.0;}
:-ms-input-placeholder{color:rgba(255, 255, 255, 0.5)!important;opacity:1.0;}
#footer .copyright{letter-spacing:0.2rem;font-size:0.6rem;opacity:0.75;margin-bottom:0;text-transform:uppercase;}



/*! CSS Used fontfaces */
@font-face{font-family:Poppins-Regular;src:url(../fonts/Poppins/Poppins-Regular.ttf);}
@font-face{font-family:Poppins-Thin;src:url(../fonts/Poppins/Poppins-Thin.ttf);}
@font-face{font-family:Poppins-Black;src:url(../fonts/Poppins/Poppins-Black.ttf);}


.fullscreen{
  width: 100%;
  min-height: 100vh;
}

/* animalcrossing.css */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #FFE0AF;
  background-image:
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
  linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  -webkit-animation: scroll 5s linear infinite;
}

@-webkit-keyframes scroll {
  from { background-position: 0 0, 50px 50px, 50px 0; }
  to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}
.overlay1::before{
  display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #7579ff;
    background: -webkit-linear-gradient(bottom,#b224ef,#7579ff);
    background: -o-linear-gradient(bottom,#b224ef,#7579ff);
    background: -moz-linear-gradient(bottom,#b224ef,#7579ff);
    background: linear-gradient(bottom,#b224ef,#7579ff);
    opacity: .3;
}
